-r requirements.txt
coverage==4.5.2
wsgi_intercept==1.8.0
flake8==3.7.5
mypy==0.701

# flake8 deps
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.0
entrypoints==0.3

# Sphinx Documentation
Sphinx==2.0.1
sphinx-autodoc-typehints==1.6.0

# twine PYPI Publish
twine==1.13.0
setuptools==41.0.1
wheel==0.33.4
