{% macro form_text_input(field_id, field_name, label_text, input_type, help_text, is_required) %}
<div class="field border label">
    <label for="{{ field_id }}">{{ label_text }}</label>
    <input type="{{ input_type }}" id="{{ field_id }}" name="{{ field_name }}" {% if is_required %}required{% endif %}
        {% if help_text %}aria-describedby="{{ field_name }}-helper" {% endif %} />
    {% if help_text %}<small id="{{ field_name }}-helper">{{ help_text }}</small>{% endif -%}
</div>
{% endmacro %}