aiosqlite==0.19.0         # Async version of sqlite
cannula==0.14.0           # The reason you are reading this
click==8.1.7              # Command line tool helper
fastapi[all]==0.108.0     # The main asgi application logic
greenlet==3.0.3           # For sqlalchemy async support
pydantic_settings==2.1.0  # Configurations via ENV variables
ruff==0.1.4               # For formatting the code
sqlalchemy==2.0.25        # For database table access
uvicorn==0.25.0           # Web server for asgi applications

# Testing Tools
pytest<8
pytest-asyncio
pytest-cov
pytest-httpx
pytest-mock
