{% extends 'base.html' %}
{% block head %}
<script type="module" src="https://pyscript.net/releases/2024.10.1/core.js"></script>
<style>
    .py-error {
        z-index: 1000;
        position: relative;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="text-3xl md:text-5xl mb-4 font-extrabold">Part Five: Datasources</h1>

<div class="flex flex-row h-[50rem] flex-nowrap justify-between m-4 overflow-hidden">
    <textarea id="input" class="w-1/3 h-2/3 float p-2">
# Example Schema
scalar Datetime
scalar UUID

interface Persona {
    id: UUID!
}

type User implements Persona {
    id: UUID!
    created: Datetime
}

type Query {
    user(id: UUID!): User
    users(limit: Int! = 100, offset: Int! = 0): [Users]
}
    </textarea>
    <button py-click="run_codegen" enabled="false" id="generate-btn" class="py-button top-0">
        Generate
    </button>

    <pre id="output" class="w-[50rem] h-2/3 bg-white border-gray-600 overflow-auto p-2 text-sm"></pre>
</div>
<script type="py" src="/static/main.py" config="/static/pyscript.toml"></script>
{% endblock %}