<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Dashboard</title>
</head>

<body>
    <div class="w-full flex flex-col sm:flex-row flex-grow overflow-hidden">
        <div class="sm:w-1/3 md:1/4 w-full flex-shrink flex-grow-0 p-4">
            <div class="sticky top-0 p-4 w-full">
                <ul class="flex sm:flex-col overflow-hidden content-center justify-between">
                    {% block nav %}
                    <li>part one</li>
                    {% endblock %}
                </ul>
            </div>
        </div>
        <main role="main" class="w-full h-full flex-grow p-3 overflow-auto">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer class="mt-auto">
        {% block footer %}<span>Cannula Tutorial</span>{% endblock %}
    </footer>
</body>

</html>