<!DOCTYPE html>
<html>

<head class="h-dvh">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.10.1/core.css">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Dashboard</title>
</head>

<body class="text-blueGray-700 antialiased bg-indigo-100">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <nav
            class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
            <div
                class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
                <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                    <li class="items-center"><a
                            class="text-indigo-600 hover:text-indigo-400 text-xs uppercase py-3 font-bold block"
                            href="/part1/">Part One: Schema and Resolvers</a></li>
                    <li class="items-center"><a
                            class="text-indigo-600 hover:text-indigo-400 text-xs uppercase py-3 font-bold block"
                            href="/part2/">Part Two: GraphQL Code Gen</a></li>
                    <li class="items-center"><a
                            class="text-indigo-600 hover:text-indigo-400 text-xs uppercase py-3 font-bold block"
                            href="/part3/">Part Three: Datasources</a></li>
                    <li class="items-center"><a
                            class="text-indigo-600 hover:text-indigo-400 text-xs uppercase py-3 font-bold block"
                            href="/part4/">Part Four: Templated UI</a></li>
                    <li class="items-center"><a
                            class="text-indigo-600 hover:text-indigo-400 text-xs uppercase py-3 font-bold block"
                            href="/part5/">Part Five: Dynamic UI</a></li>
                </ul>
                {% if request.scope.user %}
                <div class="bottom-end md:min-w-full">
                    <p>User: {{ request.scope.user.email }}</p>
                    <a class="bottom-end md:min-w-full text-blueGray-500 hover:text-indigo-400 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
                        href="/auth/logout">Log Out
                    </a>
                </div>
                {% else %}
                <form class="md:min-w-full" action="/auth/login" method="post">
                    <div>
                        <label for="email"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="text" name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="John" required>
                    </div>
                    <div>
                        <label for="password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" name="password" id="last_name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Doe" required>
                    </div>
                    <button type="submit">Signin</button>
                </form>
                <p>Signup</p>
                {% endif %}
            </div>
        </nav>
        <div class="relative md:ml-64 bg-blueGray-50 overflow-hidden">
            <div class="relative bg-indigo-100 pt-12 overflow-hidden">
                <main role="main" class="px-4 md:px-10 mx-auto w-full overflow-hidden">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </div>
</body>

</html>