{% extends 'base.html' %}
{% block content %}
<h1 class="text-3xl md:text-5xl mb-4 font-extrabold">Hello Dashboard Friends</h1>
<p class="py-2 text-xl">This is an example dashboard tutorial. Use the following links to view the completed sections:
</p>
<ul class="py-2 text-xl">
    <li><a class="text-indigo-600" href="/part1/">Part One: Schema and Resolvers</a></li>
    <li><a class="text-indigo-600" href="/part2/">Part Two: GraphQL Code Gen</a></li>
    <li><a class="text-indigo-600" href="/part3/">Part Three: Datasources</a></li>
    <li><a class="text-indigo-600" href="/part4/">Part Four: Templated UI</a></li>
    <li><a class="text-indigo-600" href="/part5/">Part Five: Dynamic UI</a></li>
</ul>
{% endblock %}