.main-navigation {
  min-height: 100vh;
}

th.sortable {
  cursor: pointer;
}

hx-panel.login {
  margin: 3em auto;
  border: 1px solid #b6e3eb;
  padding: 2em;
  background: #e4f9f9
}

label abbr {
  color: #eb0000;
}

.helpText {
  font-size: .75rem;
}

form {
  margin-bottom: 2em;
}
